{% extends 'base/_layout_security.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container-login100">
        <div class="wrap-login100">
            <form action="{{ path('passworg_forgot') }}" method="post" class="login100-form validate-form">
                <img src="{{ asset('assets/img/logo.png') }}" class="login100-form-logo" width="125px"><br>
                <span class="login100-form-title p-b-43">
                    Saisir l'email pour la réinitialisation
                </span>
                <div class="sub-forgot-pass"></div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div style="background-color: white" class="wrap-input100 validate-input" data-validate="Email is required">
                    <input class="input100" type="email" name="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Valider
                    </button>
                </div>
            </form>
            <div class="login100-more" style="background-image: url('{{ asset('layout/assets/images/breadcrumb-bg.jpg') }}');">
                <h2>Bienvenu sur notre plateforme</h2><br>
                <center>
                    <p class="p">
                        Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
                    </p>
                </center>
            </div>
        </div>
    </div>
{% endblock %}