{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block pageHeader %}
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Accueil</h5>
                        <p class="m-b-0">Bienvenue sur la page d'accueil</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{{ path('home') }}"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Accueil</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert mx-1 alert-success alert-dismissible fade show" >
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="page-wrapper">
        <div class="page-body">
        Bienvenue !
        </div>
    </div>
{% endblock %}
