<div class="general-conditions">
    <div>
        <h5>CONDITION D’UTILISATION</h5>
        <p>Les présentes conditions générales régissent l’utilisation de ce site Studenpro.com. Ce site appartient et est géré par Studenpro.</p>
        <p>En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d’utilisation et que vous acceptez de les respecter en tout temps.</p>
    </div>
    <div>
        <h6>Propriété intellectuelle</h6>
        <p>Tout contenu publié et mis à disposition sur ce site est la propriété de Studenpro et de ses créateurs. Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.</p>
    </div>
    <div>
        <h6>Utilisation acceptable</h6>
        En tant qu’utilisateur, vous acceptez d’utiliser notre site légalement et de ne pas utiliser ce site pour des fins illicites, à savoir :
        <ul>
            <li>Harceler ou maltraiter les autres utilisateurs du site</li>
            <li>Violer les droits des autres utilisateurs du site</li>
            <li>Violer les droits de propriété intellectuelle des propriétaires du site ou de tout tiers au site</li>
            <li>Pirater le compte d’un autre utilisateur du site</li>
            <li>Agir de toute façon qui pourrait être considérée comme frauduleuse</li>
        </ul>
        <p>Si nous estimons que vous utilisez ce site illégalement ou d’une manière qui viole les conditions d’utilisation acceptable ci-dessus, nous nous réservons le droit de limiter, suspendre ou résilier votre accès à ce site. Nous nous réservons également le droit de prendre toutes les mesures juridiques nécessaires pour vous empêcher d’accéder à notre site.</p>
    </div>
    <div>
        <h6>Contributions d'utilisateur</h6>
        Les utilisateurs peuvent publier les informations suivantes sur notre site :
        <ul>
            <li>Des devoirs à domicile, des sujets, des exercices ou tout document et problème liés à leurs études.</li>
        </ul>
        <p>En affichant publiquement sur notre site, vous acceptez de ne pas agir illégalement ou violer les conditions d’utilisation acceptable énumérées dans ce document. </p>
    </div>
    <div>
        <h6>Comptes</h6>
        Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :
        <ol>
            <li>Que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte.</li>
            <li>Que tous les renseignements personnels que vous nous fournissez par l’entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s’ils changent.</li>
        </ol>
        <p>Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d’utilisation acceptable.</p>
    </div>
    <div>
        <h6>Prestation de services</h6>
        <p>Ce document régit la vente des services mis à disposition sur notre site.</p>
        Les services que nous offrons comprennent :
        <ul>
            <li>Soutien scolaire entre étudiants et élèves et jeunes diplômés.</li>
        </ul>
        <p>Nos étudiants spécialisés appelé (studenpro) ont pour mission d’aider d’autres étudiants et élèves dans le besoin et dans le cadre de leurs études.</p>
        <p>Les services liés à ce document sont les services qui sont affichés sur notre site au moment où vous y accédez. Toutes les informations, descriptions ou images que nous fournissons sur nos services sont décrites et présentées avec la plus grande précision possible. Cependant, nous ne sommes pas légalement tenus par ces informations, descriptions ou images car nous ne pouvons pas garantir l’exactitude de chaque produit ou service que nous fournissons. Vous acceptez d’acheter ces services à vos propres risques.</p>
    </div>
    <div>
        <h6>Paiement</h6>
        Nous acceptons les modes de paiement suivants sur ce site :
        <ul>
            <li>Paypal</li>
            <li>Carte bancaire</li>
        </ul>
        <p>Tout paiement doit être effectué au compte de Studenpro.</p>
        <p>Studenpro s’engage en retour de verser soit par virement bancaire, soit chèque ou PayPal au prestataire le montant total de ses services rendu après déduction des commissions de la plateforme s’il opte pour la formule forfaitaire.</p>
        <p>Cette somme est virée soit à chaque fin de semaine ou chaque fin du mois selon le choix du prestataire.</p>
        <p>Studenpro pourra déduire de ce montant la marge d’erreur de remboursement du client après constatation d’erreur commise du service rendu par le prestataire.</p>
        <p>Le prestataire sera notifié de cette action.</p>
        <p>Lorsque vous nous fournissez vos renseignements de paiement, vous nous confirmez que vous avez autorisé l’utilisation et l’accès à l’instrument de paiement que vous avez choisi d’utiliser. En nous fournissant vos détails de paiement, vous confirmez que vous nous autorisez à facturer le montant dû à cet instrument de paiement.</p>
        <p>Si nous estimons que votre paiement a violé une loi ou l’une de nos conditions d’utilisation, nous nous réservons le droit d’annuler votre transaction.</p>
    </div>
    <div>
        <h6>Remboursement</h6>
        Nous acceptons les demandes de remboursement sur notre site pour les services qui répondent à l’une des exigences suivantes :
        <p>Le service ne répond pas aux attentes de l’utilisateur</p>
        <p>Tout devoir, sujet traité par nos prestataires (Studenpro) et qui n’ont pas été au niveau minimal attendu par nos clients (élèves et étudiants), nos services peuvent rembourser en partie ou la totalité de la somme perçue.</p>
        Mais ce remboursement se fera d’une condition particulière à savoir :
        <p>L’étudiant ou l’élève doit nous faire parvenir son devoir corrigé en classe par son professeur et celui corrigé par notre prestataire via Studenpro ou dans le cas échéant s’il n’a pas les corrigés de son professeur de classe, nous engagerons un autre professeur qui pourra effectuer une correction et donner sa note /20.</p>
        <p>Nous comparons les deux sujets corrigés et rembourserai en fonction de la marge d’erreur commise par notre prestataire Studenpro.</p>
        Exemple :
        <p>Considérons que la note du corrigé du professeur est de 20/20</p>
        <p>La note obtenue par l’élève/l’étudiant est de 11/20 pour donner suite au corrigé de notre prestataire Studenpro.</p>
        <p>La marge d’erreur de notre prestataire est de 09/20=20-11.</p>
        <p>09/20 qui fait un taux d’erreur de 45% ;</p>
        <p>Donc le client est remboursé de 45% du montant total de la prestation.</p>
        <p>Si le client a déboursé 30€ pour la prestation, il sera remboursé de : 30*0,45%= 13,5€.</p>
        <p>Aucun remboursement n’est effectué si la note obtenue par l’élève ou étudiant est supérieure ou égale à 12/20 pour donner suite au corrigé de notre prestataire Studenpro.</p>
        <p>Les demandes de remboursement peuvent être faites dans les délais de 01 mois maximum après la réception de vos services.</p>
    </div>
    <div>
        <h6>Limitation de responsabilité</h6>
        <p>Studenpro ou l’un de ses employés sera tenu responsable de tout problème découlant de ce site. </p>
        <p>Néanmoins, Studenpro et ses employés ne seront pas tenus responsables de tout problème découlant de toute utilisation irrégulière de ce site.</p>
    </div>
    <div>
        <h6>Indemnité</h6>
        <p>En tant qu’utilisateur, vous indemnisez par les présentes Studenpro de toute responsabilité, de tout coût, de toute cause d’action, de tout dommage ou de toute dépense découlant de votre utilisation de ce site ou de votre violation de l’une des dispositions énoncées dans le présent document.</p>
    </div>
    <div>
        <h6>Lois applicables</h6>
        <p>Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires. Cela inclut la réglementation à l’échelle de l’UE énoncée dans le RGPD.</p>
    </div>
    <div>
        <h6>Divisibilité</h6>
        <p>Si, à tout moment, l’une des dispositions énoncées dans le présent document est jugée incompatible ou invalide en vertu des lois applicables, ces dispositions seront considérées comme nulles et seront retirées du présent document. Toutes les autres dispositions ne seront pas touchées par les lois et le reste du document sera toujours considéré comme valide.</p>
    </div>
    <div>
        <h6>Modifications</h6>
        <p>Ces conditions générales peuvent être modifiées de temps à autre afin de maintenir le respect de la loi et de refléter tout changement à la façon dont nous gérons notre site et la façon dont nous nous attendons à ce que les utilisateurs se comportent sur notre site. Nous recommandons à nos utilisateurs de vérifier ces conditions générales de temps à autre pour s’assurer qu’ils sont informés de toute mise à jour. Au besoin, nous informerons les utilisateurs par courriel des changements apportés à ces conditions où nous afficherons un avis sur notre site.</p>
    </div>
    <h4>Politique de Confidentialité</h4>
    <div>
        <p>L’équipe Studenpro, en qualité de responsable du traitement des données, attache une grande importance à la protection de vos données personnelles.</p>
        <p>La présente politique a pour but de vous informer concernant la collecte, l'utilisation et le partage de vos données personnelles.</p>
        <p>Quelles sont les informations que nous recueillons ?</p>
        Avec votre accord, nous sommes susceptibles de collecter les données suivantes sur l'application mobile :
        <ul>
            <li>Votre nom de famille ;</li>
            <li>Votre prénom ;</li>
            <li>Votre numéro de téléphone ;</li>
            <li>Votre adresse mail ;</li>
            <li>Votre adresse postale.</li>
        </ul>
        Également, si vous êtes Studenpro (Prestataire de service) :
        <ul>
            <li>Votre IBAN ou références paypal.</li>
            <li>CV</li>
        </ul>
        <p>Vous n’êtes pas obligés de fournir l’ensemble des informations listées ci-dessus.</p>
        <p>Néanmoins, certaines sont obligatoires pour le bon fonctionnement des différents services proposés par studenpro.</p>
        <p>Quelle est la durée de conservation de vos données personnelles ?</p>
        Vos données personnelles sont supprimées de maniére irréversible à l'issue des périodes suivantes :
        <ul>
            <li>Immédiatement aprés la demande de suppression de vos données personnelles depuis la plateforme ;</li>
            <li>5 ans après une totale inactivité de votre compte.</li>
        </ul>
        <p>Certaines données sont susceptibles d'être anonymisées lors de la suppression de votre compte pour assurer le bon fonctionnement des services de studenpro.</p>
        <p>Quelles sont les finalités de la collecte de vos informations personnelles ?</p>
        <p>L’ensemble des données collectées par Studenpro permettent de mettre en relation les clients et les prestaires de services (Studenpro).</p>
        <p>Aucune autre utilisation n’est faite de vos données personnelles.</p>
        <p>Quelles sont les entités pouvant accéder à vos données personnelles ?</p>
        Plusieurs cas peuvent mener à l'accès à vos données personnelles :
        <ul>
            <li>Dans le cadre de l'utilisation des services de Studenpro, d'autres membres peuvent accéder à certaines de vos données personnelles comme votre prénom, nom.;</li>
            <li>L'équipe de Studenpro a également accès à vos données personnelles.</li>
            <li>L'hébergeur du site, nommé dans les mentions légales en tant que responsable du stockage de la base de données, a également accès à vos données non chiffrées.</li>
        </ul>
        <p>Aucune autre raison ne peut mener à la transmission de vos données personnelles sans votre accord.</p>
        <p>Quels sont vos droits concernant vos données personnelles ?</p>
        <p>Conformément aux Conditions Générales d'Utilisation de studenpro, vous disposez d'un droit d'accès, de rectification, d’opposition, d'effacement, de portabilité des données qui vous concernent. Vous pouvez exercer ce droit sur simple demande par e-mail à l'adresse suivante :
            <a href="mailto:studenpro@outlook.fr">studenpro@outlook.fr</a></p>
        <p>Il est cependant nécessaire que vous joigniez à votre demande une piéce d'identité afin que nous puissions vérifier que les données concernées vous appartiennent bien.</p>
        <p>Modification de notre politique de confidentialité</p>
        <p>Studenpro se réserve le droit de modifier à tout moment et sans préavis la présente politique de confidentialité en raison de l'apparition de nouveaux services ou de l'apparition de nouvelles obligations légales. Si cela est nécessaire, nous vous en informerons. Par ailleurs, nous vous conseillons de consulter régulièrement cette page afin de prendre connaissance des potentiels ajouts et modifications apportées à notre politique de confidentialité.</p>
    </div>
    <div>
        <br>
        Contact
        <p>Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. Nos coordonnées sont les suivantes :
            <a href="mailto:studenpro@outlook.fr">studenpro@outlook.fr</a></p>
    </div>
</div>

