<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
    Bienvenue chez studenpro !
<br>
<br>
    Nous sommes heureux de vous compter parmi nous.
<br>
    Faire traiter ses devoirs par nos étudiants spécialisés, c'est se simplifier la vie et simplifier vos études.
<br>
    Plus d'inquiétudes avec studenpro.
<br>
    Connecter vous sur votre compte directement avec ce lien: <a href="{{ url }}">ici...</a>
<br>
    Si vous avez une question, vous pouvez nous contacter par mail à l’adresse contact@studenpro.fr. Nous nous ferons un plaisir de vous aider !
<br>
    L’Équipe studenpro
</p>
</body>
</html>