<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
    Bonjour {{ name }} {{ firstname }},<br>
    <br>
    Votre candidature est en cours de traitement, nous vous contacterons pour un éventuel entretien àprès l'étude de votre dossier.<br>
    La durée maximale du traitement de votre candidature est de 3 jours.<br>
    Nous vous contacterons au {{ contact }} prochainement. <br>
    <br>
    Merci de patienter
</p>
</body>
</html>